<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CEAA</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Empleados">
                <span class="oi oi-plus"></span>
            </NavLink>
            
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Salarios">
                <span class="oi oi-dollar"></span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Oficios">
                <span class="oi oi-file"></span>
            </NavLink>
        </div>
       

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}